/*  

Colors
Navy: #303030
Blue: #0022b4
Red: #bf0003  

Fonts
font-family: 'Roboto Condensed', sans-serif;
*/

/* ========== General ========== */

* {
	box-sizing: border-box;
	font-family: 'Roboto Condensed', sans-serif;
	transition: all ease .3s;
}
html {
	font-size: 16px;
}

img {
	width: 100%;
	/*height: auto;*/
}

.container {
	width: 80%;
	margin: 0 auto;
}

.clear {
	clear: both;
}

*::selection {
	background-color: #303030;
	color: #fff;
}
hr {
	border: 0;
	background-color: #e0e0e0;
	margin: 30px 0;
	height: 1px;
}

/* ========== Text ========== */

h1 {
	font-family: 'Roboto Condensed', sans-serif;
	font-weight: 700;
	font-size: 3.5rem;
	color: #fff;
	margin: 0;
}

h1 span.description {
	display: block;
	/*font-family: 'Average', serif;*/
	color: #fff;
	font-size: 1.1rem;
	letter-spacing: .05em;
	margin-top: .25rem;
}

h1 span.elect {
	display: block;
	/*font-family: 'Average', serif;*/
	font-size: 1.25rem;
	text-transform: uppercase;
	letter-spacing: 1rem;
	margin: 0 0 1rem 0;
	color: #666;
}

h2 {
	font-size: 3rem;
	line-height: 4rem;
	font-weight: 100;
	font-family: 'Roboto Condensed', sans-serif;
	color: #303030;
	margin: 0 0 20px 0;
}
h3 {
	/*font-family: 'Average', serif;*/
	font-size: 2rem;
	margin: 0 0 10px 0;
	color: #bf0003;
}
h4 {
	font-size: 1.5rem;
	font-weight: normal;
	text-align: center;
}
p {
	/*font-family: 'Average', serif;*/
	font-size: 1.2rem;
	line-height: 1.9rem;
	color: #303030;
}
p.primary {
	font-size: 2.5rem;
	line-height: 3.5rem;
	font-weight: 100;
	font-family: 'Roboto Condensed', sans-serif;
	color: #303030;
	margin: 0 0 20px 0;
}

p.secondary {
	font-size: 2rem;
	line-height: 3.25rem;
	font-weight: 400;
	/*font-family: 'Average', serif;*/
	color: #303030;
	margin: 0 0 20px 0;
}

/* ========== Header ========== */

header {
	background-color: #0022b4;
	padding: 20px 10%;
	text-align: center;
	border-top: 10px solid #bf0003;
}

.swoosh {
	/*background: url(../img/swoosh.svg)no-repeat center center;
	background-size: 108% auto;
	max-height: 100px;
	min-height: 50px;*/
	width: 100%;
}

.title-wrap {
	width: 50%;
	display: inline-block;
	vertical-align: middle;
	text-align: left;
}

header nav {
	width: 49%;
	display: inline-block;
	vertical-align: middle;
}

header nav ul {
	margin: 0;
	padding: 0;
	text-align: right;
}

header nav ul li {
	display: inline-block;
	padding: 0 0 0 4%;
}

header nav ul li a {
	color: #fff;
	text-transform: uppercase;
	font-size: .85rem;
	font-family: 'Roboto Condensed', sans-serif;
	letter-spacing: .1em;
	text-decoration: none;

}
header nav ul li a:hover {
	border-bottom: 5px solid #bf0003;
	padding-bottom: 5px;
}

/* ========== Intro ========== */

.intro-wrap {
	background-color: #f0f0f0;
	padding: 50px 0;
}

.intro-wrap .content-wrap {
	width: 60%;
	margin-right: 5%;
	float: left;
}

.intro-wrap .content-wrap ul {
	margin: 0;
	padding: 0;
}

.intro-wrap .content-wrap ul li {
	font-size: 2rem;
	font-weight: 100;
	font-family: 'Roboto Condensed', sans-serif;
	color: #303030;
	margin: 0 0 15px 0;
	list-style-type: none;
}

.intro-wrap .content-wrap ul li i {
	color: #bf0003;
	font-size: 18px;
	position: relative;
	top: -5px;
	margin-right: 10px;
}

.intro-wrap .image-wrap {
	width: 35%;
	float: left;
}

.intro-wrap .image-wrap img {
	border: 10px solid #bf0003;
}

/* ========== Donate ========== */

.donate-wrap {
	padding: 30px 0;
	background-color: #0022b4;
	text-align: center;
}

.donate-wrap h2, .donate-wrap p {
	color: #fff;
}

/* ========== Bobby Knows ========== */

.knows-wrap {
	background-color: #fff;
	padding: 50px 0;
}

.knows-wrap h2 {
	text-align: center;
	margin-bottom: 50px;
}

.knows-col {
	width: 50%;
	padding: 0 3%;
	float: left;
}

.knows-col img {
	border: 10px solid #bf0003 ;
}

/* ========== Endorsements ========== */

.endorsements-wrap figure {
	width: 50%;
	float: left;
	padding: 3%;
	margin: 0 0 25px 0;
}

.endorsements-wrap figure img {
	border: 10px solid #bf0003 ;
}

.endorsements-wrap figure figcaption {
	font-style: italic;
	margin: 5px 0;
}

/* ========== Letter ========== */

.letter-wrap {
	padding: 50px 0 0 0;
	background-color: #0022b4;
}

.letter-wrap .letter {
	background-color: #fff;
	padding: 30px;
	width: 95%;
	margin: 0 auto;
	box-shadow: 0 0 15px 5px #000099;
}

.letter .text-wrap {
	width: 60%;
	float: left;
}

.letter .text-wrap img {
	max-width: 200px;
	height: auto;
}

.sticker-wrap {
	float: right;
	width: 35%;
	margin-left: 5%;
}

/* ========== Footer ========== */

footer {
	background-color: #303030;
	padding: 25px;
	/*text-align: center;*/
}

footer a {
	margin: 0 25px 0 0;
	color: #fff;
	text-decoration: none;
}

footer a:hover {
	color: #bf0003;
}

footer i {
	font-size: 1.75rem;
	margin-right: 10px;
}

footer p {
	color: #fff;
	margin: 0 0 5px 0;
}

/* ========== Media Queries ========== */

@media only screen and (max-width: 768px) {
	html {
		font-size: 14px;
	}

	h2 {
		text-align: left;
	}
	.knows-wrap h2 {
		text-align: left;
	}

	.donate-wrap {
		text-align: left;
	}

	.title-wrap {
		width: 100%;
	}

	header nav {
		width: 100%;
		margin-top: 20px;
	}
	header nav ul {
		text-align: left;
	}
	header nav ul li {
		padding: 0 4% 0 0;
	}
	.intro-wrap .content-wrap {
		width: 100%;
		margin-right: 0%;
		float: none;
	}
	.knows-col {
		width: 100%;
	}
	
	.letter .text-wrap {
		width: 100%;
		float: none;
	}

	.sticker-wrap {
		width: 100%;
		float: none;
		margin: 0;
	}
	footer a {
		display: block;
	}
}

@media only screen and (max-width: 600px) {
	.endorsements-wrap figure {
		width: 100%;
		float: none;
		padding: 0%;
	}

}
